
<% provide(:title, "About") %>
<h1>About</h1>
<p>
LibSys is a course project for CSC517 Object-Oriented Design and development.
</p>
<p>
Our library system provide a platform for members to interact with books, as well as for administrators to manage members and books.
</p>

