<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If encounter any problem, please contact the admins about the LibSys:
</p>
<p>
 hy.libsys.rails@gmail.com
</p>
<p>
oliviahyacinth@gmail.com
</p>
