
<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
Members can sign up using unique email;
</p>
<p>
Members can log in after they sign up;
</p>
<p>
Members can view their profile in Account->Profile;
</p>
<p>
Members can edit their profile in Account->Settings;
</p>
<p>
Members can log out in Account->log out;
</p>
<p>
Members can see a list of all books in the library using All books botton;
</p>
<p>
Members can search for books using Search books and input the content and the attribute that their search is based;
</p>
<p>
After clicking details button, Members can check out any book that is available and return the book they checked out;
</p>
<p>
Members can see all the books they haven't return yet in the Books need to be returned section in their main page, and return the book by clikcing the book name;
</p>
<p>
Members can view their checkout and return history in the Library Record section in their main page.
</p>
