<li>

  <%= link_to suggest.ISBN, suggest %>

  <%= link_to 'Edit', edit_suggest_path(suggest) %>
  <%= link_to 'Deny', suggest, method: :delete,
                  data: { confirm: "You sure?" } %>
  <%= link_to 'Approve', '#' %>
</li>

