<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear member,</p>
    <p>
      The book you were looking for is available now.
    </p>
     <p>
      Best,
     </p>
      <p>
      LibSys
      </p>
  </body>
</html>

