<li id="history-<%= history.id %>">

  <span class="book">
  <strong>Title:</strong>
  <%= history.book.title %>
  </span>

  <span class="action">
    <strong>Action:</strong>
  <%if history.action == "available" %>
      return
      <% else %>
      checkout
      <% end %>
  </span>

  <span>
    <strong>Time:</strong>
  <%= history.created_at %>
  </span>

</li>