
<footer class="footer">
  <small>
    The LibSys is developed</a>
    by <a href="https://github.com/Hongyi23/LibSys">Huanyu Xia, Hongyi Ma, Ying Huang.</a>
  </small>
  <nav> <ul>
    <li><%= link_to "About",   about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul> </nav>
</footer>

